<h1>Show <%= @user.username %></h1>

<ul class = "events">
  <%= label_tag 'Upcoming'%>
  <% @user.attended_events.sort{ |a,b| a.date <=> b.date }.each do |e| %>
    <% if e.date > @date %>
    <li>
      <%= link_to  e.name , event_path(e.id) %>
      <%= e.date %>
    </li>
    <% end %>
  <% end %>

  <br />

  <%= label_tag 'Passed'%>
  <% @user.attended_events.sort{ |a,b| b.date <=> a.date }.each do |e| %>
    <% if e.date < @date %>
      <li>
        <%= link_to  e.name , event_path(e.id) %>
        <%= e.date %>
      </li>
    <% end %>
  <%end%>
</ul>