<h1>My Events</h1>

<% if !@user.attended_events.any? %>
  <h3>You don't have any Events</h3>
<% else %>
  <ul class="events">
    <%= label_tag 'Upcoming'%>
    <% @user.attended_events.sort{ |a,b| a.date <=> b.date }.each do |e| %>
      <% if e.date >= @date %>
      <li>
        <%= link_to  e.name , event_path(e.id) %>
        <%= e.date %>
      </li>
      <% end %>
    <% end %>
  </ul>

    <br />

  <ul class="events">
    <%= label_tag 'Passed'%>
    <% @user.attended_events.sort{ |a,b| b.date <=> a.date }.each do |e| %>
      <% if e.date < @date %>
        <li>
          <%= link_to  e.name , event_path(e.id) %>
          <%= e.date %>
        </li>
      <% end %>
    <%end%>
  </ul>
<% end %>

<%= link_to  "Create Event", new_event_path %>