<%= link_to  "Back to events", events_path %>
<br>
<br>
<h1><%= @event.name %></h1>

<label>Event Description:</label><br />
<%= @event.description %><br /><br />
<label>Event Date:</label><br />
<%= @event.date %><br />

<br />

<h3>Attendees</h3>
<ul>
  <% @event.attendee.each do |a| %>
    <li>
      <%= a.username %>
    </li>
  <% end %>
</ul>

<% if session[:current_userid] %>
  <%= form_for @attendance do |f| %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= f.submit 'Attend' %>
  <% end %>
<% end %>

<br />
