<%= link_to  "< Back to events", events_path, class: "back-to" %>
<br>
<br>
<h1><%= @event.name %></h1>

<label>Event Description:</label><br />
<%= @event.description %><br /><br />
<label>Event Date:</label><br />
<%= @event.date.localtime.strftime("%Y/%m/%d %H:%M") %><br />

<br />

<h3>Attendees</h3>
<ul>
  <% @event.attendee.each do |a| %>
    <li>
      <%= a.username %>
    </li>
  <% end %>
</ul>

<% if session[:current_user] %>
  <%= form_for @attendance do |f| %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= f.submit 'Attend' %>
  <% end %>
<% end %>

<h3>Invite user</h3>

<%= form_tag ('/attendances/create') do |f| %>
 <%= select("user", "user_id", User.all.collect {|p| [ p.username, p.id ] }) %> 
<% end %>

<br />
