<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = 'nav'>
        <%= link_to  "All Events", events_path %>

        <% if session[:current_userid].nil?%>
          <%= link_to  "Sign-up", new_user_path %>
          <%= link_to  "Sign-in", sign_in_path %>
        <%else%>
          <%= link_to  session[:current_userid]['username'], user_path(session[:current_userid]['id']) %>
          <%= link_to  "Sign-out", sign_out_path %>
        <%end%>
    </nav>
    <%= yield %>
  </body>
</html>
